:root {
  --color-desatRed: hsl(0, 36%, 70%);
  --color-softRed: hsl(0, 93%, 68%);
  --color-darkGrayishRed: hsl(0, 6%, 24%);

  --weight-light: 300;
  --weight-normal: 400;
  --weight-heavy: 600;
}
#desktop-photo {
  display: none;
}
body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  --spacing: 2rem;
}
header {
  padding: var(--spacing);
}
header img {
  height: 1.5rem;
}
.content {
  padding: 3rem var(--spacing);
  text-align: center;
}
.content__title {
  font-size: 3rem;
  font-weight: var(--weight-heavy);
  color: var(--color-darkGrayishRed);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 1;
  margin: 1.5rem 0;
}
.title__accent {
  font-weight: var(--weight-light);
  color: var(--color-desatRed);
}
.content > p:nth-of-type(1) {
  color: var(--color-desatRed);
  margin-bottom: 2rem;
  font-size: 14px;
}
